body {
  margin: 0;
  overflow: hidden;
  -webkit-app-region: drag;
}
.wrapper {
  width: 592px;
  height: 64px;
  position: relative;
}
.wrapper .bgroup {
  height: 100%;
  position: relative;
  display: inline-block;
}
.wrapper .bgroup::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 100%;
  top: 0;
  border-radius: 50%;
}
.wrapper .bgroup#left_group {
  background-color: #34495e;
  width: 90px;
  overflow: hidden;
}
.wrapper .bgroup#left_group::before {
  background-image: url('../img/arc_white.png');
  right: -12px;
  border-radius: 0;
  background-repeat: no-repeat;
  z-index: 2;
}
.wrapper .bgroup#left_group #left-group-back {
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}
.wrapper .bgroup#left_group.record #left-group-back,
.wrapper .bgroup#left_group.pause #left-group-back,
.wrapper .bgroup#left_group.stop #left-group-back {
  width: 110px;
  height: 110px;
  margin-left: -55px;
  margin-top: -55px;
  transition: all .5s;
}
.wrapper .bgroup#left_group.record #left-group-back {
  background-color: #c0392b;
}
.wrapper .bgroup#left_group.pause #left-group-back {
  background-color: #d35400;
}
.wrapper .bgroup#left_group.stop #left-group-back {
  background-color: #34495e;
}
.wrapper .bgroup#left_group #movable {
  width: 20px;
  background-image: url('../img/dots.svg');
  height: 100%;
  vertical-align: bottom;
  color: #ccc;
  cursor: move;
  display: inline-block;
  opacity: .6;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper .bgroup#left_group .ellipse {
  width: 42px;
  height: 42px;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 22px;
  position: relative;
  background-color: transparent;
  vertical-align: top;
  margin-top: 11px;
  margin-left: 5px;
  outline: none;
}
.wrapper .bgroup#left_group .ellipse::before {
  content: '';
  background-color: #3498db;
  width: 60px;
  height: 60px;
  top: -9px;
  left: -9px;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  transform: scale(0.6);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
  transition: background-color 0.3s;
}
.wrapper .bgroup#left_group .ellipse.cool::before {
  animation-name: ellipse-anim;
}
.wrapper .bgroup#left_group .ellipse .ellipse-front {
  top: 0;
  left: 0;
  position: absolute;
  stroke: #3498db;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  top: -2px;
  left: -2px;
  stroke-width: 0;
  transition: stroke-dashoffset 3s, stroke-width 0.5s;
}
.wrapper .bgroup#left_group .ellipse .ellipse-front circle {
  fill: #3498db;
  transition: fill .3s;
}
.wrapper .bgroup#left_group .ellipse .ellipse-record {
  background-color: #fff;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  border-radius: 50%;
  transition: all .4s;
}
.wrapper .bgroup#left_group.active .ellipse:active .ellipse-front {
  stroke-width: 3;
  stroke-dashoffset: 748;
}
.wrapper .bgroup#left_group.active .ellipse-front circle {
  fill: #fff;
}
.wrapper .bgroup#left_group.record .ellipse::before,
.wrapper .bgroup#left_group.pause .ellipse::before {
  background-color: #fff;
}
.wrapper .bgroup#left_group.record .ellipse-record {
  border-radius: 0;
  background-color: #c0392b;
}
.wrapper .bgroup#left_group.pause .ellipse-record {
  background-image: url('../img/pause.svg');
  background-color: transparent;
  border-radius: 0;
}
.wrapper .bgroup#left_group.stop .ellipse-record {
  border-radius: 50%;
  background-color: #fff;
}
.wrapper .time {
  background-color: #8e919c;
  width: 200px;
  height: 48px;
  display: inline-block;
  margin: 8px 25px 0;
  border-radius: 8px;
  color: #fff;
  font-family: Arial;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  vertical-align: top;
  position: relative;
}
.wrapper .time p {
  margin: 0;
}
.wrapper .time .time_messages {
  position: absolute;
  bottom: 0;
  left: 15px;
  height: 29px;
  width: 100%;
  text-align: left;
}
.wrapper .time .time_messages span {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 25px;
  transition: all .3s;
  font-size: 10px;
}
.wrapper .time .time_messages span.active {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.wrapper .icon-button {
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  border: none;
  outline: none;
  line-height: 0;
  padding: 4px;
  position: relative;
  margin: 0 4px;
}
.wrapper .icon-button-norm::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #3498db;
  bottom: -10px;
  opacity: 0;
  visibility: hidden;
  left: 0;
  transition: bottom .3s, visibility .3s, opacity .3s;
  will-change: bottom, visibility, opacity;
}
.wrapper .icon-button-norm.active::after {
  bottom: -2px;
  visibility: visible;
  opacity: 1;
}
.wrapper .icon-button-norm img {
  width: 32px;
}
.wrapper .icon-button-norm:not(.active):hover {
  background-color: #e8e5e5;
}
.wrapper .buttons_group {
  margin-top: 12px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.wrapper .buttons_group .anim-top,
.wrapper .buttons_group .anim-bottom,
.wrapper .buttons_group .buttons-separate {
  transition: transform .7s, opacity .7s, visibility .7s;
  will-change: transform, opacity, visibility;
}
.wrapper .buttons_group .anim-top:nth-of-type(1) {
  transition-delay: .3s;
}
.wrapper .buttons_group .anim-top:nth-of-type(2) {
  transition-delay: .15s;
}
.wrapper .buttons_group .anim-top:nth-of-type(3) {
  transition-delay: 0s;
}
.wrapper .buttons_group .buttons-separate {
  transition-delay: .15s;
}
.wrapper .buttons_group .anim-bottom,
.wrapper .buttons_group #range,
.wrapper .buttons_group .colors {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.wrapper .buttons_group .anim-bottom {
  width: 48px;
  left: -5px;
  top: 2px;
  transform: translate3d(0, -10px, 0);
  transition-delay: .2s;
}
.wrapper .buttons_group #range,
.wrapper .buttons_group .colors {
  transform: translate3d(-10px, 0, 0);
  transition: transform .7s, opacity .7s, visibility .7s;
  will-change: transform, opacity, visibility;
}
.wrapper .buttons_group #range {
  top: 3px;
  left: 58px;
  width: 2px;
  height: 39px;
  background-color: #ddd;
  user-select: none;
  transition-delay: .1s;
}
.wrapper .buttons_group #range > #range_circle {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #FFC312;
  border-radius: 50%;
  margin-left: -6px;
  top: 10px;
  transition: background-color 0.25s;
  border: 0px solid #303036;
  box-sizing: border-box;
}
.wrapper .buttons_group .colors {
  list-style-type: none;
  left: 72px;
  top: 2px;
  margin: 0;
  padding-left: 10px;
  line-height: .9;
}
.wrapper .buttons_group .colors li {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: -2px;
}
.wrapper .buttons_group .colors li.color-white {
  border: 1px solid gray;
  box-sizing: border-box;
}
.wrapper .buttons_group.active .anim-top,
.wrapper .buttons_group.active .buttons-separate {
  transform: translate3d(0, 10px, 0);
  opacity: 0;
  visibility: hidden;
}
.wrapper .buttons_group.active .anim-top:nth-of-type(1) {
  transition-delay: 0s;
}
.wrapper .buttons_group.active .anim-top:nth-of-type(2) {
  transition-delay: .15s;
}
.wrapper .buttons_group.active .anim-top:nth-of-type(3) {
  transition-delay: .3s;
}
.wrapper .buttons_group.active .buttons-separate {
  transition-delay: .15s;
}
.wrapper .buttons_group.active .anim-bottom,
.wrapper .buttons_group.active #range,
.wrapper .buttons_group.active .colors {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}
.wrapper .buttons_group.active .anim-bottom {
  transition-delay: 0s;
}
.wrapper .buttons_group.active #range {
  transition-delay: .3s;
}
.wrapper .buttons_group.active .colors {
  transition-delay: .5s;
}
.wrapper .bgroup.right-group {
  background-color: #adb6bb;
  width: 64px;
  vertical-align: top;
}
.wrapper .bgroup.right-group::before {
  background-color: #fff;
  left: -10px;
}
.wrapper .bgroup.right-group .icon-button-close {
  width: 48px;
  height: 48px;
  margin-top: 7px;
  margin-left: 15px;
  opacity: .8;
  padding: 0;
  animation-duration: .6s;
  animation-fill-mode: forwards;
}
.wrapper .bgroup.right-group .icon-button-close img {
  width: 22px;
  margin-left: -3px;
  margin-top: 0px;
}
.wrapper .bgroup.right-group .icon-button-close:hover {
  animation-name: close_button;
}
.wrapper .buttons-separate {
  display: inline-block;
  width: 1px;
  height: 36px;
  background-color: #ccd1d4;
  margin: 3px 5px 0 10px;
}
.wrapper .icon-button-norm#button_sound {
  margin-right: 0;
  position: relative;
  z-index: 2;
  background-image: url('../img/speaker.svg');
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.wrapper .icon-button-norm#button_sound.disabled {
  background-image: url('../img/speaker_disabled.svg');
}
@keyframes ellipse-anim {
  0% {
    transform: scale(0.6);
    opacity: 1;
  }
  30% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes close_button {
  0% {
    transform: scale(1);
    opacity: .8;
  }
  50% {
    transform: scale(1.16);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.no-drag {
  -webkit-app-region: no-drag;
}
/*# sourceMappingURL=application.css.map */